/*Font*/
@font-face {
    font-family: swiss911;
    src: url("Swiss911BT-Compressed.otf") format("opentype");
}

@font-face {
	font-family: korinna;
	src: url("Korinna-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'SD Jeopardy Regular';
	src: url("gyparody.heavy.ttf") format("truetype");
}

/*Body*/
body.page-0 {
	background: url("../images/jeopardy.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.page-1 {
	background-color: #070cec;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Placecards*/
.row {
	flex-wrap: nowrap;
	width: 100%;
}

/*Cell*/

div.dollar div.cell {
	width: 100%;
	height: 100%;
	font-size: 3.5rem;
	text-align: center;
	vertical-align: middle;
	color: #d5a04f;
	height: 6.5rem;
	text-shadow: 5px 5px black;
	cursor: pointer; 
	cursor: hand; 
}

div.dollar div.cell:hover {
	color: white;
}

.col {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 2.1rem;
	font-family: swiss911;
	margin: 1rem;
}

/*Button*/
button {
	display: block;
	text-transform: uppercase;
	margin-bottom: 1rem;
	background-color: #070cec;
	border: none;
	color: white;
	text-shadow: 5px 5px black;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer; 
	cursor: hand; 
}

button:first-child {
	margin-top: 5rem;
}

button:hover {
	font-size: 3.7rem;
}

#restart {
	font-size: 3rem;
	text-transform: uppercase;
	font-family: SD Jeopardy Regular;
}

/*Full Screen*/
.fullscreen{
    z-index: 9999; 
    position: fixed; 
    color: white;
    font-size: 5rem;
    text-align: center;
    background-color: #070cec;
    top: 0; 
    left: 0; 
    transition-timing-function: ease-in-out;
 }

 .fullpage {
 	font-family: korinna;
 	color: white;
 	text-transform: uppercase;
 	transition-timing-function: ease-in-out;
 }

 /*Header*/
#header {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-shadow: 5px 5px black;
}

/*Wincount*/
#wincount {
	font-family: SD Jeopardy Regular;
	color: white;
	text-align: center;
	font-size: 3rem;
}