body.page-0 {
	background: url("../images/jeopardy.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.page-1 {
	background-color: blue;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.row {
	flex-wrap: nowrap;
}

.col {
	color: white;
	width: 20%;
	font-size: 10px;
}

div.cell {
	width: 20%;
	height: 40%;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}
button {
	display: block;
}

.fullscreen{
    z-index: 9999; 
    position: fixed; 
    font-size: 5rem;
    text-align: center;
    background-color: blue;
    top: 0; 
    left: 0; 
 }