/*Font*/
@font-face {
    font-family: swiss911;
    src: url("Swiss911BT-Compressed.otf") format("opentype");
}

@font-face {
	font-family: korinna;
	src: url("Korinna-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'SD Jeopardy Regular';
	src: url("gyparody.heavy.ttf") format("truetype");
}

/*Body*/
body.page-0 {
	background: url("../images/jeopardy.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
  	overflow: hidden;
}

/*Start Game Button*/
#button {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	position: absolute;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 7px 20px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	top: 75%;
	border-radius: 10px;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
	border: 5px solid transparent;
	border-bottom-color: rgba(0,0,0,0.35);
	background: hsla(260, 100%, 50%, 1);
	cursor: pointer;
	outline: 0 !important;
	animation: pulse 1s infinite alternate;
	transition: background 0.4s, border 0.2s, margin 0.2s;
}

#button:hover {
	background: hsla(22, 100%, 60%, 1);
	margin-top: -1px;
	animation: none;
}

#button a {
	color: #fff;
}

#button:active {
	border-bottom-width: 0;
	margin-top: 5px;
}

@keyframes pulse {
	0% {
		margin-top: 0px;
	}
	100% {
		margin-top: 6px; 
	} 
}

body.page-1 {
	background-color: #070cec;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Placecards*/
.row {
	flex-wrap: nowrap;
	width: 100%;
}

/*Cell*/

div.dollar div.cell {
	width: 100%;
	height: 100%;
	font-size: 3.5rem;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #d5a04f;
	height: 6.5rem;
	text-shadow: 4px 4px black;
	cursor: pointer; 
	cursor: hand; 
}

div.dollar div.cell:hover {
	color: white;
}

.col {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 2.1rem;
	font-family: swiss911;
	margin: 1rem;
}

/*Button*/
button {
	display: block;
	text-transform: uppercase;
	margin-bottom: 2rem;
	background-color: #070cec;
	border: none;
	color: white;
	text-shadow: 4px 4px black;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer; 
	cursor: hand; 
}

button:first-child {
	margin-top: 5rem;
}

button:hover {
	font-size: 3.7rem;
}

#restart {
	font-size: 3rem;
	text-transform: uppercase;
	font-family: SD Jeopardy Regular;
}

/*Full Screen*/
.fullscreen{
    z-index: 9999; 
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    overflow-y:scroll;
    color: white;
    font-size: 5rem;
    text-align: center;
    background-color: #070cec;
    top: 0; 
    left: 0; 
    transition-timing-function: ease-in-out;
 }

 .fullpage {
 	font-family: korinna;
 	color: white;
 	text-transform: uppercase;
 	transition-timing-function: ease-in-out;
 }

 /*Header*/
#header {
	text-transform: uppercase;
	letter-spacing: 1.4px;
	text-shadow: 4px 4px black;
}

/*Wincount*/
#wincount {
	font-family: SD Jeopardy Regular;
	color: white;
	text-align: center;
	font-size: 3rem;
	text-shadow: 4px 4px black;
}